<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${movie.getTitle()}"></h1>
    <table bgcolor="silver">
        <tr>
            <td>Autor filmu:</td>
            <td>
                <span th:text="${movie.getAutor().getName()}"></span>
                <span th:text="${movie.getAutor().getSurname()}"></span>
            </td>
        </tr>
        <tr>
            <td>Rok wydania filmu:</td><td><span th:text="${movie.getReleaseYear()}"></span></td>
        </tr>
        <tr>
            <td>Gatunek:</td><td><span th:text="${movie.getMovieType().getDescription()}"></span></td>
        </tr>
        <tr>
            <td>Opis filmu:</td><td><span th:text="${movie.getLongDescription()}"></span></td>
        </tr>
        <tr>
            <form th:action="'/movie/comment/add/' + ${movie.getId()}" method="post"><div>
                <table bgcolor="silver">
                    <tr>
                        <td>Skomentuj film:</td><td><input type="text" name="comment"></td>
                    </tr>
                    <tr>
                        <br>
                        <td colspan="3" align="center"><br>
                            <input type="submit" value="Dodaj">
                            <input type="reset" value="Wyczyść">
                        </td>
                    </tr>
                </table>
            </div></form>
        </tr>
        <tr>
            <br>
            <td colspan="3" align="center"><br>
                <a href="/"> Powróć do listy filmów</a>
            </td>
        </tr>
    </table>
</body>
</html>