<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="'Jesteś zalogowany? : ' + ${userSession.isLogin()}"></h1>
    <ul>
        <li th:each="movie : ${movieList}">
            <a th:href="'/movie/description/' + ${movie.getId()}"><span th:text="${movie.getTitle()}"></span></a>
            <span th:text="${movie.getShortDescription()}"></span>
            <a th:href="'/movie/comment/' + ${movie.getId()}">Komentarze</a>
            <a th:href="'/movie/vote/up/' + ${movie.getId()}">Łapka w górę</a>
            <span th:text="${movie.getMovieRating().getVoteUp()}"></span>
            <a th:href="'/movie/vote/down/' + ${movie.getId()}">Łapka w dół</a>
            <span th:text="${movie.getMovieRating().getVoteDown()}"></span>

        </li>
    </ul>
    <a href="/autor/list/">Przejdź do listy Autorów</a>
</body>
</html>