<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li th:each="movie : ${movieList}">
            <a th:href="'/movie/description/' + ${movie.getId()}"><span th:text="${movie.getTitle()}"></span></a>
            <span th:text="${movie.getShortDescription()}"></span>
            <a th:href="'/movie/comment/' + ${movie.getId()}">Komentarze</a>
        </li>
    </ul>
    <a href="/autor/list/">Przejdź do listy Autorów</a>
</body>
</html>